<div class="card">
    <div class="card-header">
        <h5 class="card-title">Login Page</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()">
                <input name="usuario" type="text" class="form-control my-2 w-25" placeholder="Usuario" [(ngModel)]="user.usuario">
                <input name="pwd" type="password" class="form-control my-2 w-25" placeholder="Contraseña" [(ngModel)]="user.pwd">
                <button class="btn btn-primary" type="submit">
                    Login
                </button>
            </form>
        </div>
</div>